:root {
  --background-color-light: #ffffff;
  --text-color-light: #000000;
  --background-color-dark: #121212;
  --text-color-dark: #ffffff;
  --background-color-common: #0e8cba;
  --background-common: #48bfea;
  --background-common-dark: #333;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}
/* Theme light and dark */
.theme {
  width: 100%;
  height: 8vh;
  display: flex;
  flex-direction: row-reverse;
}
.theme_default_light {
  color: var(--text-color-light);
}

.theme_default_dark {
  color: var(--text-color-dark);
}
.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}
/* Header */
.header {
  display: flex;
  justify-content: center;
}
/* Main Music Player */

.music_player {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 2em;
  height: 80vh;
  padding: 10px;
}
.background-common {
  background-color: var(--background-common);
}

.background-common-dark {
  background-color: var(--background-common-dark);
}
.common {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 4px solid var(--background-color-common);
  border-radius: 2em;
}
.genre {
  font-size: 1.2em;
  padding: 2em;
}
#songs {
  font-size: 1rem;
}
ul {
  list-style: none;
}
ul li {
  background-color: var(--background-color-common);
  padding: 10px;
  margin: 10px;
  cursor: pointer;
}
ul li:hover {
  background-color: transparent;
}

/* Playlist */
.playlist {
  display: flex;
  flex-direction: column;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  transition: 0.3s;
  width: 70%;
  height: 60%;
  margin-left: 15%;
  margin-top: 5%;
  background-color: var(--background-color-common);
}

/* Add some padding inside the card container */
.container {
  padding: 5px 16px;
}
.container p {
  margin: 0;
  padding: 5px;
}
#song_img {
  width: 80%;
  height: 70%;
  padding: 2em;
  padding-bottom: 0rem;
}
#song_name {
  font-weight: 900;
}
.audioPlayer {
  display: flex;
  justify-content: center;
  margin-top: 4%;
}
.common_pn {
  background-color: #ba0eba;
  height: 190%;
  width: 10%;
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  cursor: pointer;
}
.prev_next {
  display: flex;
  justify-content: space-evenly;
  margin-top: 4%;
}
.add_playlist {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  cursor: pointer;
}
.addPlaylist {
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  background-color: #ba0eba;
  height: 80%;
  width: 20%;
}

/* Create Playlist */
.inputButton {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}
#inputPlaylist {
}
#createPlaylist {
  background-color: var(--background-color-common);
  padding: 9px;
  cursor: pointer;
}
.showPlaylist {
  font-weight: 900;
  font-size: 1.2em;
}
